{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container pt-5">
    <div class="row mt-5">
        <div class="col-md-6">
            {% if profile_details.photo %}
            <img src="{{profile_details.photo.cdn_url}}" alt="Profile Photo">
            {% else %}
            <img src="/static/images/avatar.jpg" alt="Avatar" class="img-thumbnail">
            {% endif %}
        </div>
        <div class="col-md-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <h3>{{profile.username}}</h3>
                </li>
                {% if profile.username == user.username %}
                <li class="list-inline-item">
                    <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-outline-dark">Edit Profile</a>
                </li>
                {% endif %}        
            </ul>
            <hr>
            <ul class="list-inline">
                <h6><strong>About Me:</strong></h6>
                <li class="list-inline-item">
                    {% autoescape on %}
                    {{profile_details.bio| safe}}
                    {% endautoescape %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}