{% extends 'base.html' %}
{% load static%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <h2 class="text-center">TOP SITES</h2>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card-group">
                <img src="{{project.image_landing.url}}" alt="" class="card-img-top">
                <a href="{% url 'projects' project.pk %}" class="btn">VIEW</a>
            </div>
            <div class="card-body">
                <a href="{% url 'projects' project.pk %}">
                    <h5>{{project.title}}</h5>
                </a>
                <p>{{project.pub_date| date:"F d,Y"}}</p>
                <h6>By {{project.profile}}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}