<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light shadow">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Web Awards</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' username=user %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout/">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Log In</a>
            </li>
            {% endif %}

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">APIs</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'profile_list' %}">Profiles</a>
                    <a class="dropdown-item" href="{% url 'projects_list' %}">Projects</a>
                </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'post_site' %}" id="projects" class="btn btn-dark">SUBMIT PROJECT</a>
            </li>
            {% endif %}

        </ul>
        <!-- Links -->

        <form class="form-inline" action="{% url 'search_results' %}">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="titles">
            </div>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->