<nav style="background-color:white;" class="animated slideInDown navbar-collapse navbar-expand-lg sticky-top ">
    <div class="navbar mx-5">
        <div id="logo">
            <a href="{% url 'home' %}" id="brand" class="text-dark"> <strong>Web Awards</strong></a>

        </div>
        <div class="dropdown dropleft">

            <!--Trigger-->
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">APIS</button>


            <!--Menu-->
            <div class="dropdown-menu dropdown-info">
                <a class="dropdown-item" href="{}">Profiles</a>
                <a class="dropdown-item" href="{}">Projects</a>
            </div>
        </div>
        <div class="nav-search">
            <form class="form-inline md-form form-md active-pink active-pink-2 mt-2"
                action="{% url 'search_results' %}">
                <input class="form-control form-control-md ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search" name="titles">
            </form>
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' username=user %}" class="text-dark mr-4">
                <!-- <img class="rounded-circle" alt="" src="{{user.profile.profile_photo.url}}" height="60" width="60" /> -->
                Profile
            </a>

            <a href="/logout/" class="text-dark">Log Out</a>


            <a href="{% url 'post_site' %}" id="projects" class="btn btn-dark">SUBMIT PROJECT</a>


            {% else %}

            <a href="/accounts/login" class="text-dark">Log In</a>



            {%  endif %}




        </div>
    </div>
</nav>