{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <img src="{{project.image_landing.url}}" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h3>Content</h3>
            <hr class="bg-default">
            <h4>{{content}}</h4>
        </div>
        <div class="col-md-3">
            <h3>Usability</h3>
            <hr class="bg-success">
            <h4>{{usability}}</h4>
        </div>
        <div class="col-md-3">
            <h3>Design</h3>
            <hr class="bg-info">
            {{design}}
        </div>
        <div class="col-md-3">
            <h3>Average</h3>
            <hr class="bg-danger">
            <h4>{{average}}</h4>
        </div>
    </div>
    <div class="row mt-3">
        {% if user.is_authenticated %}
        <div class="col-md-12">
            <button class="btn btn-outline-secondary" type="button
                " data-toggle="modal" data-target="#VotesForm">Rate</button>
            <a href="{{projects.link}}" class="btn btn-secondary float-right" target="_blank">Live Site</a>
        </div>
    </div>
    {% if user.id not in rate %}
    <div class="modal fade" id="VotesForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title font-weight-bold">Vote</h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form animated slideInDown">
                        <form action="/projects/{{project.id}}" method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button class="btn btn-outline-info modal-footer d-flex justify-content-center"
                                type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p class="alert alert-success">Thanks for your rating!</p>
    {% endif %}
    {% else %}
    <div>
        <a href="/accounts/login" class="btn btn-sm btn-outline-info">Log in to rate</a>
    </div>
    {% endif %}
    <div class="card mt-5">
        <div class="card-header">
            <h4>Total Votes: {{rate|length}}</h4>
        </div>
        <div class="list-group">
            <ul class="list-group">
                {% if rate %}
                <table class="table">
                    <th>Voters</th>
                    <th>Rating</th>
                    {% for you in rate %}
                    <tr>
                        <td>
                            <img src="{{you.user.profile.profile_photo.url}}" alt="">
                            {{you.user}}
                        </td>
                        <td>
                            <a href="">{{you.design}}.0</a>
                            <a href="">{{you.usability}}.0</a>
                            <a href="">{{you.content}}.0</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <li class="list-group-item alert alert-info">No Votes Available</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}